<p>of-from works!</p>
<div class="row">
    <div class="col-6">
        <div class="card">

            <div class="card-header">List-1(of -simple)</div>
            <div class="card-body">
                <ul id="elContainer">
                </ul>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">

            <div class="card-header">List-1(of-object)</div>
            <div class="card-body">
                <ul>
                    <li>Name:{{mydata.name}}</li>
                    <li>Std:{{mydata.std}}</li>
                    <li>Blood:{{mydata.blood}}</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">

            <div class="card-header">List(from -Array)</div>
            <div class="card-body">
                <ul id="elContainer2">
           
                </ul>
            </div>
        </div>
    </div>

</div>
