<table class="table " *ngIf="person!=null">

    <tr>
        <th>Id</th>
        <th>Name</th>

        <th>Age</th>
        <th>Gender</th>
        <th>phone</th>
        <th>bloodGroup</th>
        <th>email</th>
    </tr>
    <tr>
        <td>{{person.id}}</td>
        <td>{{person.firstName}}</td>

        <td>{{person.age}}</td>
        <td>{{person.gender}}</td>
        <td>{{person.phone}}</td>
        <td>{{person.bloodGroup}}</td>
        <td>{{person.email}}</td>
    </tr>

</table>


<button (click)="fetchData()" class="btn btn-primary" type="button">
    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    {{loading?'loading Data':'fetch Data'}}
</button>
<p>
    <strong [ngClass]="{'text-danger':status==='problem Occured',
                        'text-success':status==='Data fetched successfully'}">Status:{{status}}</strong>
</p>