
<div class="row">
    <div class="col-md-12">
        <ul class="list">
            <li>
                <a routerLink="form-event">Form-Evennt</a>
            </li>
            <li>
                <a routerLink="interval">interval</a>
            </li>
            <li>
                <a routerLink="form-event">Form-Evennt</a>
            </li>
            <li>
                <a routerLink="of-from">Of-From</a>
            </li>
            <li>
                <a routerLink="form-event">Form-Evennt</a>
            </li>
            <li>
                <a routerLink="toArray">To-Array</a>
            </li>
            <li>
                <a routerLink="cusobs">Custom-observble</a>
            </li>
            <li>
                <a routerLink="map">Map</a>
            </li>
            <li>
                <a routerLink="pulk">pulk</a>
            </li>
            <li>
                <a routerLink="filter">filter</a>
            </li>
            <li>
                <a routerLink="take">Take</a>
            </li>
        </ul>
    </div>
</div>